:root {
  --branding-color: #6c63ff;
  --secondary-color: #b6b4bb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: rgb(255, 255, 255);
  background-image: url("");
}
.navbar-brand {
  margin-left: 10px;
  font-size: 30px;
}
.navbar-nav {
  position: relative;
 left: 600px;
 
}
 .nav-item a:hover:not(.active) {
  background-color: rgb(81, 163, 125);
}
.nav-item {
  margin-right: 5px;
 
}
.nav-link {
  font-size: 20px;
}
.main {
  margin: 0px 50px;
}
h1,
h3,
h4,
p {
  color: rgb(36, 34, 34);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 54px;
  color: white;
  margin-bottom: 10px;
}

h2 {
  font-weight: normal;
}
h4 {
  font-size: 48px;
}
nav {
  position: relative;
}
.hero {
   background-image: url(image/13295064_5172658.jpg);
   background-size: cover;
   background-repeat: no-repeat;
  text-align: center;
  margin-top: 10px;
  padding: 100px 20px;
font-family: var(--default-font-family);

}
.frontend {
  background: rgb(238, 203, 203);
  color: red;
 
}
.hero h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: #4021c9;
  animation-name: example;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}
@keyframes example {
  from {color: red;}
  to {color: rgb(191, 194, 22);}
}
.hero p {
 
  font-weight: normal;
  text-align:inherit;
  line-height: 1;
  font-size: 24px;
}
.hero1 {
  background-image: url(image/pexels-nataliya-vaitkevich-5554751\ \(1\).jpg);
  background-size: contain;
   text-align: center;
  padding: 200px 20px;
font-family: var(--default-font-family);
opacity: 0.5;
}
.hero1 h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #4021c9;
  animation-name: example;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
}
@keyframes example {
  from {color: red;}
  to {color: rgb(191, 194, 22);}
}
#me {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  
}
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills p {
  margin: 0 120px;
  font-size: 24px;
  line-height: 2;
  color: rgb(24, 24, 148);
  opacity: 0.7;
  font-family: var(--default-font-family);
}
#abilities {
  text-align: center;
 margin-left: 30px;
  line-height: 2;
 
}
#abilities p {
  color: rgb(238, 239, 245);
}
#service1 {
  background-color:#f89c4b;
  margin-right: 10px;
  height: 270px;
  width: 350px;
   border-radius: 10px;
}
#service2 {
 background-color:#f89c4b; 
 margin-right: 10px;
 width: 400px;
  border-radius: 10px;
}
#service3 {
  background-color:#f89c4b;
  width: 350px;
   border-radius: 10px;
}
 
#projects {
  text-align: center;
}
.btn-branding {
  background: #ecc6c6;
  border-radius: 100px 5px 100px 0px;

  font-size: 18px;
  line-height: 27px;
  padding: 15px 50px;
}
.btn-branding:hover {
 background: #990dc4;
 color: white; 
transition: all 5 00ms ease;
}
.about-page {
  text-align: center;
  background-color: #fe8991;
  line-height: 2;
  padding: 130px 15px;
}
.about-page
h2,
h3 {
  
  color:  #6466d7;
  font-size: 24px;
}
.general {
  margin-top: 10px;
}
.general h2 {
  color:rgb(233, 16, 204);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.contact-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
margin: 0px 50px;
  padding: 20px 15px;
}
.contact-page p {
  text-align: center;
  font-size: 30px;
  color: #ac7f02;
}

.socials {
  margin-left: 150px;

}
#header {
  font-size: 30px;
  text-transform: capitalize;
  color:rgb(15, 13, 172);
  font-weight: bold;
}
.paragraph p {
  font-size: 24px;
  font-weight: lighter !important;
}
footer {
  background-color: #bb7fe9;
  padding: 20px;
  
}
.footer {
  display: flex;

}

footer .contact-box {
  background: rgb(250, 249, 246);
   margin-top: 100px;
    margin-left: 50px;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
a:visited {
  color: rgb(132, 0, 255);
}

footer .email-link:hover {
  color: rgb(68, 0, 255);
}

footer .social-links a {
  margin: 0 20px;
  margin-top: -30px;
  color: var(--branding-color);
  background: rgb(221, 220, 218);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.form {
 margin-left: 200px;
 font-size: 20px;
}
label {
  font-size: 20px;
}
input,textarea {
  border: none;
  border-radius: 5px; 
  background: #cfcfcf;
}
#text{
  width: 387px;
  height: 40px;
}
 #submit {
  height: 40px;
  width: 100px;
  background-color: rgb(196, 44, 44);
  color: white;
 }
 #submit:hover {
  color: rgb(32, 30, 30);
  background-color: aqua;
 }
footer .social-links a:hover {
  color: rgb(32, 30, 30);
  background-color: aqua;
}


@media (max-width: 600px) {
  .navbar-brand {
  margin-left: 1px;
  font-size: 20px;
}
.navbar-nav {
  position: relative;
 left: 30px;
 
}
.nav-link {
  font-size: 15px;
}
  .main {
  margin: 0 auto;
}
  h1 {
  font-size: 20px;
}
 h4 {
  font-size: 20px;
}
.hero {
  padding: 55px 0px;
}

.hero h2 {
  font-size: 15px;
 
}
.hero .btn-branding {
  margin-top: -50px;
}

.hero p {
  font-size: 12px;
}
#me {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  
}
#skills p {
  margin: 0 30px;
  font-size: 12px;
  opacity: 0.7;
}
#skills img {
 width: 200px;
}
#abilities {
  text-align: center;
  background: rgb(121, 61, 145);
  padding: 10px;
  margin: 10px;
  line-height: 2;
}
.btn-branding {
  border-radius: 15px;

  font-size: 12px;
  line-height: 10px;
  padding: 15px 30px;
}
.contact-page {
  margin: 0 auto;
  flex-direction: column;
}
.contact-page p {
  font-size: 20px;
}
.socials {
  margin: 0 auto;
  margin-top: 50px;
}
 footer {
  margin: 20px 0;
}

footer .contact-box {
  display: flex;
  padding: 10px 50px;
  border-radius: 10px;
}

a {
  font-size: 14px;
}

footer .social-links a {
  margin: 0 10px;
 
  padding: 10px 7px;
  border-radius: 50%;
  font-size: 10px;
  transition: all 100ms ease-in-out;
}
.form {
 width: 300px;
 
}
#text{
  width: 200px;
  height: 40px;
}
}
